@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,600i,800");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

:root {
    --color: #00acac;
}
  
body {
    min-height: 100%;
    color: #333333;
    font: 1.1em/1.5 "EB Garamond", serif;
    margin: 0;
    padding: 0;
}

.cabecera {
    background: linear-gradient(38deg, #000428, var(--color));
    color: #fafafa;
    display: flex;
    position: relative;
}

.cabecera_bloque1 {
    height: 100vh;
    width: 50%;
}

.cabecera_bloque1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.cabecera_bloque2 {
    height: 100vh;
    width: 50%;
}

.cabecera_bloque2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

img {
    max-width: 100%;
    display: block;
    opacity: 0.4;
    filter: grayscale(100%);
}

.cabecera_titulo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin-bottom: 1em;
    line-height: 1;
    font-weight: 600;
    font-style: italic;
    opacity: 0.75;
  }


.articulo {
    max-width: 54em;
    margin: 5em auto;
    padding: 0 3em;
}

.articulo_entrada {
    column-count: 2;
    column-gap: 3em;
    column-rule: thick solid rgba(0, 78, 146, 0.5);
    margin-bottom: 3em;
    font-weight: 600;
    font-size: 115%;
    line-height: 1.7;
    color: var(--color);
    text-align: justify;
    hyphens: auto;
}

.articulo_entrada > p {
    margin-bottom: 0;
}

.articulo_cuerpo {
    max-width: 34em;
    margin: auto;
}

.articulo_cuerpo > p:first-child::first-letter {
    color: var(--color);
    font-size: 12rem;
    line-height: 0.75;
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.imagen-circulo {
    border-radius: 50%;
    shape-outside: circle(50%) border-box;
    shape-margin: 1em;
    max-width: 25em;
    float: right;
    margin-right: -10em;
    background: var(--color);
}

.imagen-circulo img {
    display: block;
    border-radius: 50%;
    mix-blend-mode: hard-light;
}

.imagen-hexagono {
    max-width: 25em;
    max-height: 25em;
    float: left;
    background: var(--color);
    margin-left: -10em;
    margin-right: 1em;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    shape-outside: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%) border-box;
    shape-margin: 1em;
}

.imagen-hexagono img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    mix-blend-mode: hard-light;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


@media (max-width: 37.5em) {
    body {
        font-size: 1em;
      }
    
    h1 {
        font-size: 4em;
        margin: 0;
    }  

    .cabecera {
        flex-direction: column;
    }
    .cabecera_bloque1 {
        width: 100%;
        height: 50vh;
    }
    .cabecera_bloque2 {
        width: 100%;
        height: 50vh;
    }
    .cabecera img {
        width: 100%;
        height: 100%;
    }
    .cabecera_titulo {
        align-items: center;
    }

    .articulo_entrada {
        column-count:unset;
        font-size: 1em;
        line-height: 1.3em;
    }

    .articulo_cuerpo > p:first-child::first-letter {
        font-size: 6em;
        line-height: 0.5;
    }

    .imagen-circulo {
        margin: 1em;
        shape-outside: unset;
    }
    .imagen-hexagono {
        margin: 1em;
        shape-outside: unset;
    }
}